<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Lista de Usuários</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	</head>
	<body>
		<div style="content: center;">
		
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 style="position: center;">Lista de Usuários</h1>
			</div>
			<div class="panel-body">
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>E-mail</th>
						</tr>
						<tr th:each="usuario : ${usuarios}">
							<td th:text="${usuario.id}">id</td>
							<td th:text="${usuario.name}">nome</td>
							<td th:text="${usuario.email}">e-mail</td>
							<td th:text="${usuario.is_ativo}">ativo</td>
							<td th:text="${usuario.role}">role</td>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		
		</div>
	</body>
</html>
